body{		
	font-family:Arial,Helvetica,sans-serif;
	color:#0f529e;
	background-color:#fff;
	font-size:12px;	
}
.red{
	color:#da0e0f;
}
.grey{
	color:#606060;
}
.error{
	border:thin solid red !important;
}
.left,#errmsg.left{	
	text-align:left;
}
#errmsg{
	color:#da0e0f;
	text-align:center;
}
.clear{clear:both;}
a{
	color:#004B91;
	text-decoration:none !important;
}
a:visited{
	color:#004B91 ;
}
.center{
	text-align:center;
}
a:hover{
	text-decoration:underline;
	color:#d80000 !important;
}
.small1{font-size:90%;}
#page-wrap{
	min-width:1250px;
}
.region{
		
}
.inner-wrap{
	width:1250px;
	margin:0 auto;
}
#header{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#dbdbdb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#dbdbdb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
	height:124px;
}
#logomenu{
	width:100%;
	float:left;
}
#logo{
	float:left;
	width:260px;
	margin-top:18px;
}
#topmenu{
	float:left;	
	margin-top:38px;
	margin-left:60px;
}
#topmenu ul li{
	float:left;
	border-right:thin solid #d5d5d5;
}
#topmenu ul li a{
	color:#0f529e;
	display:block;
	float:left;
	padding:0 10px;
}
/*search*/
#searchtext{
	width:560px;
	margin-left:10px;
	float:left;
}
#searchbar{
	margin-top:22px;
	float:left;
	margin-left:270px;
	width:667px;
}
#searchbar label{
	margin-top:10px;
	float:left;
	color:#6a6a6a;
	font-size:12px;
	font-weight:bold;
}
#searchbtn{
	background:url('../images/searchbtn.png') no-repeat 0 0 transparent;
	width:49px;
	height:32px;
	border:none 0;
	cursor:pointer;
}
#searchbtn:hover{
	background-position:0 -42px;
}
#leftst{
	background:url('../images/searchbar_left.png') no-repeat 0 0 transparent;
	width:4px;
	height:32px;
	float:left;
}
#middlest{
	float:left;
	background:url('../images/searchbar.png') repeat-x 0 0 transparent;
	width:556px;
	height:32px;
}
#keywords{
	border:none 0;
	height:22px;
	width:440px;
	margin:4px; 
	outline:none;
}
#cats{
	float:left;
	margin-left:-110px;
	margin-top:10px;
	cursor:pointer;
}
#cats span{
	margin-right:10px;
}
#catsddl{
	display:none;
	position:absolute;
	margin:8px 0px 8px -100px;
}
#category{
	width:192px;
	outline:none;
}
/*/search*/
/*toolbar*/
#toolbar{
	margin-left:4px;
	float:left;
	margin-top:22px;
}
.titem{
	cursor:pointer;
	float:left;
	border-left:thin solid #cecece;
	padding:0 10px;
}
.titem:first-child{
	border:none 0;
}
.ttitle{
	font-weight:bold;
}
.tcol{
	float:left;
	margin-left:6px;
}
.titem .tcol:first-child{
	margin-left:0;
}
/*dialog*/
.arrow_box {
	padding:0 10px;
	position: relative;
	background: #fff;
	border: 1px solid #c6c6c6;
	border-radius:4px 4px 4px 4px;
	display:none;
	position:absolute;
	top:120px;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 6px;
	left: 50%;
	margin-left: -6px;
}
.arrow_box:before {
	border-color: rgba(198, 198, 198, 0);
	border-bottom-color: #c6c6c6;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}
/*/dialog*/
.abitem{
	width:170px;
	color:#555555;
	margin:14px 0;
}
.abitem.hr{
	border-top:thin solid #c6c6c6;
	height:1px;
}
.abitem .small{
	font-size:11px;
}
#usernamebox{
	width:102px;
}
#accountbox,#loginregister{	
	margin-left:10px;
}
#accountbox.arrow_box:before,#accountbox.arrow_box:after,#loginregister:before,#loginregister:after{
	left:40px;
}
#cartempty{
	margin-left:112px;
}
#cartitem{
	margin-left:-20px;
}
#cartempty.arrow_box:before,#cartempty.arrow_box:after,#cartitem:before,#cartitem:after{
	left:70px;
}
#wishempty{
	margin-left:112px;
}
#wishitem{
	margin-left:-132px;
}
#wishempty.arrow_box:before,#wishempty.arrow_box:after,#wishitem:before,#wishitem:after{
	left:160px;
}
.signin{
	width:100px;
}

/*/to0lbar*/
/*sidebar*/
#sbox{
	float:left;
}
#shopby{
	background:url('../images/shopby.png') no-repeat;
	width:255px;
	float:left;
	margin-top:-62px;
	
}
#stitle{
	margin:5px 10px;
	color:#616161;
	font-size:10px;
}
#shophead{
	float:left;
}
#shoptab{
	margin-top:2px;
	height:396px;
	float:left;
}
/*tabs*/
.tabs { list-style: none; }
.tabs li { display: inline; float:left;}
.tabbed-area { margin: 0 0 0px 0; }
.box-wrap { position: relative; min-height: 0px; }
.box-wrap div { background: white; padding: 38px 0 0; min-height: 250px; position: absolute; top: -1px; left: 0;width:100%; }
.tabs { z-index: 2; position: relative; }
#box-sol:target .box-sol,
#box-ven:target .box-ven,
#box-prod:target .box-prod,
#box-fed:target .box-fed { 
	z-index: 1; 
}

.scap{
	padding:15px 6px;
	display:block;
	float:left;
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
	height:7px;
	color:#fff !important;
}
a.scap:hover{
	color:#fff !important;
}
#box-sol:target a[href="#box-sol"],
#box-ven:target a[href="#box-ven"],
#box-prod:target a[href="#box-prod"],
#box-fed:target a[href="#box-fed"]
{ 
	color:#0f529e !important;
}        
#box-sol:target a[href="#box-sol"]:hover,
#box-ven:target a[href="#box-ven"]:hover,
#box-prod:target a[href="#box-prod"]:hover,
#box-fed:target a[href="#box-fed"]:hover
{
	text-decoration:none;
	color:#d80000 !important;
}
.scap{
	background-image:url('../images/tabs.png');
	background-repeat:no-repeat;
}
#ssol a{
	width:47px;	
	background-position:0 -470px;
}
#ssol a:hover{
	/*background-position:0 -517px;*/
	background-position:0 -846px;
}
#box-sol:target a[href="#box-sol"]{
	background-position:0 -376px;	
}
#box-sol:target a[href="#box-sol"]:hover{
	background-position:0 -423px;	
}
#sven a{
	width:40px;
	background-position:0 -658px;
}
#sven a:hover{
	/*background-position:0 -705px;*/
	background-position:0 -893px;
}
#box-ven:target a[href="#box-ven"]{
	background-position:0 -564px;	
}
#box-ven:target a[href="#box-ven"]:hover{
	background-position:0 -611px;	
}
#sprod a{
	width:43px;
	background-position:0 -282px;
}
#sprod a:hover{
	/*background-position:0 -329px;*/
	background-position:0 -799px;
}
#box-prod:target a[href="#box-prod"]{
	background-position:0 -188px;
}
#box-prod:target a[href="#box-prod"]:hover{
	background-position:0 -235px;
}
#sfed a{
	width:77px;
	padding-top:4px;
	height:20px;
	background-position:0 -94px;
}
#sfed a:hover{
	/*background-position:0 -141px;*/
	background-position:0 -752px;
}
#box-fed:target a[href="#box-fed"]{
	background-position:0 0px;	
}
#box-fed:target a[href="#box-fed"]:hover{
	background-position:0 -47px;	
}
.box-wrap ul li hr{
	height:1px;
	border:thin solid #c6c6c6;
	margin:0 14px;
}
.box-wrap ul{
	height:360px;
	border-right:thin solid #c6c6c6;
	border-left:thin solid #c6c6c6;
}
.box-wrap ul li a{
	padding:7px 16px;
	display:block;
}
#bottomtab{
	background:url('../images/box_bottom.png') no-repeat 0 0 transparent;	
	width:255px;
	height:9px;
	float:left;
}
.viewall{
	text-align:center;
	font-weight:bold;
	font-size:11px;
}
.simplebox{
	float:left;
	margin-top:10px;
}
.sbhead{
	background:url('../images/box_top.png') no-repeat 0 0 transparent;	
	width:255px;
	height:9px;
}
.sbfoot{
	background:url('../images/box_bottom.png') no-repeat 0 0 transparent;	
	width:255px;
	height:9px;
}
.sbbody{
	
	border-right:thin solid #c6c6c6;
	border-left:thin solid #c6c6c6;
}
.sbbody ul li a{
	padding:2px 16px;
	font-weight:bold;
	display:block;
}
.filterselected{
	font-weight:bold;
}
/*/sidebar*/
/*content*/
#maincontent{
	float:left;
	width:675px;
}
#main{
	float:left;
	width:975px;
	color:#616161;
	padding:10px;
}
#main p,#main ul li{
	line-height:16px;
}
h1{
	font-size:22px;	
	font-weight:bold;	
}
h2{
	font-size:18px;	
	font-weight:normal;
}
label{
	font-weight:bold;
}
#main p{
	color:#555555;
}
.cols{
	float:left;
	margin-top:14px;
}
.col{
	margin-left:2px;
	float:left;
	width:220px;
}
.col2{
	width:48%;
	float:left;
	margin-left:14px;
}
.col2:first-child{
	margin-left:0;
}
.col2 input[type="password"],.col2 input[type="text"]{
	width:90%;
}
.col:first-child{
	margin-left:0;
}
.colhead h2{
	font-size:14px;
}
.colbody{
	margin-top:16px;
}
.colbody ul li{
	margin-bottom:20px;
}
.colmore{
	font-weight:bold;
}
.coldivider{
	background:url('../images/divider.png') repeat-y;
	width:2px;
	float:left;
}
.formitem label{
	display:block;
	color:#606060;
	font-size:12px;
	font-weight:bold;
	margin:5px 0 8px ;
}
.formradio{float:left;margin-left:10px;}
.formradio label,.formradio input{float:left;}
/*banner*/
#banner{
	float:left;
	width:665px;
	height:233px;
	background:url('../images/meet_banner.png') no-repeat 0 0 transparent;
}
#btnbanner{
	margin-top:150px;
	margin-left:10px;
}
#btnbanner a{
	margin-left:20px;
	display:block;
	float:left;
	height:55px;
	background-image:url('../images/bannerbtn.png');
	background-repeat: no-repeat;
}
#lnksolution{
	width:117px;	
	background-position:0 -65px;
}
#lnksolution:hover{
	background-position:0 0;
}
#lnkvendor{
	width:105px;
	background-position: 0px -195px;
}
#lnkvendor:hover{
	background-position: 0px -130px;
}
#lnkproduct{
	width:115px;
	background-position: 0px -325px;
}
#lnkproduct:hover{
	background-position: 0px -260px;
}
#lnkfederal{
	width:218px;
	background-position: 0px -455px;
}
#lnkfederal:hover{
	background-position: 0px -390px;
}
/*/content*/
/*rightbar*/
#rightbar{
	float:right;
	width:300px;
}
#rightbar img,#suggest{
	margin-bottom:14px;
}
#suggest{
	width:303px;
	height:92px;
	display:block;
	float:left;
	background:url('../images/suggestbtn.png') no-repeat;
}
#suggest:hover{
	background-position:0 -102px;
}
/*/rightbar*/
/*footer*/
#footer{
	border-top:thin solid #C6C6C6;
	height:60px;
	width:100%;
	float:left;
	margin-top:20px;
}
#bottomlogo{
	float:left;
	margin-top:15px;
}
#footer ul{
	margin-top:30px;
	float:left;
	margin-left:10px;
}
#footer ul li{
	float:left;
	border-left:thin solid #d5d5d5;
}
#footer ul li:first-child{
	border:none 0;
}
#footer ul li a{
	color:#0f529e;
	display:block;
	float:left;
	padding:0 10px;
}
#copy{
	color:#d5d5d5 !important;
}

/*/footer*/
.btn{
	border:none 0;
	color:#fff !important;
	font-weight:bold;
	cursor:pointer;
	background:url('../images/accountbtn.png') no-repeat;
	/*width:170px;
	height:26px;*/
	padding:4px 30px;
	text-align:center;
	background-size:100% 62px;
	float:left;
	line-height:20px;
}
.btn:hover{
	background-position:0 -36px;
	color:#fff !important;
}
.leftpanel{
	margin-top:20px;
	float:left;
	width:100%;

}
/*searchresultpage*/
#filterby{
	border:thin solid #C6C6C6;
	border-radius:8px 8px 8px 8px;
}
#ftitle,#flist{
	margin:20px 14px;
}
#ftitle,.fname{
	font-weight:bold;
	color:#616161;
}
#flist ul ul {
	
}
#flist ul ul li a{
	display:block;
	padding:9px 18px;
	font-size:11px;
}
.fitem{
	margin-bottom:20px;
}
#searchresult{
	margin:20px 4px;
}
#searchkeywords{
	font-weight:bold;
	color:#616161;
	font-size:14px;
}
a.srcurpage{color:#616161;}
.searchpager{
	height:10px;
	margin-top:14px;
	padding:10px;
	font-size:10px;	
	color:#616161;
	background-color:#ebebeb;
}
.searchpagectrl{
	float:left;
}
.searchpagesort{
	float:right;
}
.sritem{
	height:160px;
	width:100%;
	border-bottom:thin solid #C6C6C6;
}
.sritem:last-child{
	border-bottom:none 0;
}
.srthumb{
	float:left;
	width:150px;
}
.srthumb img{
	margin:20px 10px;
	width:120px;
	height:100px;
	background-color:#f1f1f1;
}
.srdesc{
	float:left;
	margin-top:30px;
	width:510px;
}
.srdesc h3{
	color:#616161;
	font-size: 10px;
    font-weight: normal;
}
.srdesc p{
	margin-top:14px;
}

.srorder{
	float:left;
	padding-top:30px;
	width:180px;
	margin-left:20px;
}
.srorder .actionbox{
	border:none 0;
	padding:0;
}
.savewish{
	font-size:10px;
}
/*/searchresultpage*/
/*becomemember*/
#becomemember{
	width:860px;
}

#becomemember p{
	font-size:16px;
	line-height:22px;
}
.note{
	font-size:14px;
	color:#616161;
}
#agencytype label{
	margin-right:30px;
	float:left;
	padding:4px 0;
}
#agencytype input{
	float:left;
	
}
#becomemember .ui-state-default a{
	color:#0000EE;
	font-weight:bold;
}
#becomemember .ui-tabs-active a{
	color:#616161;
	font-weight:bold;
}
#becomemember .cols{margin-top:0;}
#becomemember input[type="text"],#becomemember input[type="password"]{
	height:24px;
}

.agencyli li{
	width:260px;
	margin:10px;
	list-style-type:disc;
	color:#0000EE;
}
.agencyli li a{
	color:#0000EE;
}
/*/becomemember*/
/*info page*/
.tblinfo{
	margin-top:30px;
	border-collapse:separate;
	border-spacing:0 4px;
}
.tblinfo tr{
	background-color:#f3f3f3;
}
.tblinfo td{
	padding:7px;
	color:#606060;
}
.infotblcaption{
	text-align:right;
	font-weight:bold;
}
/*/infopage*/
#wishlistform,
#loginform,
#viewproduct,
#viewvendor
{
	margin-left:6px;
}
#memberinfoform{
	width:650px;
}
/*grid*/

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 50%;
	float: left;
}

.dataTables_paginate {
	float: right;
	text-align: right;
}
table.display thead th div.DataTables_sort_wrapper {
	position: relative;
	padding-right: 20px;
}

table.display thead th div.DataTables_sort_wrapper span {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
}
.grid {
	margin-top:10px;
}
.grid thead tr{		
	background-color:#0f539e;
}
.grid tr{	
	height:30px;
}
.grid td{	
	padding:10px;
}
.grid thead th{	
	padding:10px;
	font-weight:bold;
	color:#fff;
}
.grid tr.odd{
	background-color:#fff;
}
.grid tr.even{
	background-color:#e8e8e8;
}
.ui-icon-triangle-1-n,.ui-icon-triangle-1-s{
	background:url('images/sortarrow.png') no-repeat;
	width:12px;
	height:10px;
}
.ui-icon-triangle-1-s{
	background-position:0 -20px;
}
/*/grid*/
/*viewproduct*/
#viewproduct{
	
}
.prodimgcol{
	float:left;
	width:260px;
}
.proddesccol{
	margin-top:10px;
	float:left;
	width:500px;
}

.prodactioncol{
	float:left;
	width:200px;
}
#imgcont{
	width:250px;	
}
.proddesccol h1,.venddesccol h1{
	font-size:24px;
}
.proddesccol a{
	font-size:14px;
	font-weight:bold;
}
.proddesccol p,.venddesccol p{
	margin-top:20px;
}
.proddesccol ul,.proddesccol ol{
	margin:10px 20px;
}
.proddesccol ul li{
	list-style-type:square;
}
.proddesccol ol li{
	list-style-type:decimal;
}
.proddesccol li{
	margin:4px 0;	
}
.actionbox{
	padding:14px;
	border-radius:4px 4px 4px 4px;
	border:thin solid #c6c6c6;
	float:left;
}
.actionbox a{
	width:110px;
	margin:4px auto;
}
.prodgeneralinfo,.prodvideos,.proddocs,.moreprod,.recentprod,
.vendgeneralinfo,.vendorprod,.vendvideos,.venddocs{
	border-bottom:thin solid #cecece;
	padding-bottom:20px;
	padding-top:20px;
	float:left;
	width:100%;
}
.prodviditem,.vendviditem{
	margin-top:20px;
	float:left;
	width:200px;
	height:160px;
	margin-left:170px;	
	display:block;
}
.prodvideos .prodviditem:first-of-type,.vendviditem:first-of-type{
	margin-left:0px !important;
}
.vidthumb{
	display:block;
	width:200px;
	height:120px;
	cursor:pointer;
	background:url('../images/video.png') no-repeat;
}
.vidthumb:hover{
	background-position:0 -130px;
}
.vidtitle{	
	margin-top:10px;
	display:block;
	text-align:center;
}
.proddoc,.venddoc{
	padding:12px 0 12px 40px;
	background:url('../images/docs.png') no-repeat;
	width:30%;
	float:left;
	margin-top:10px;
}
.proddocs ul,.moreprod ul,.recentprod ul,.vendorprod ul,.venddocs ul{
	margin-top:10px;
}
.doc{
	background-position: 0px 0px;
}
.pdf{
	background-position: 0px -50px;
}
.ppt{
	background-position: 0px -100px;
}
.txt{
	background-position: 0px -150px;
}
.xls{
	background-position: 0px -200px;
}
.prodthumb,.vendthumb {
	float:left;
	margin-left:30px;	
}
.prodthumb:first-child,.vendthumb:first-child{
	margin-left:0px;
}
.prodthumb img,.vendthumb img{
	width:100px;	
}
.prodnoimg,.vendnoimg{
	display:block;
	width:100px;
	height:100px;
	background-color:#f1f1f1;
}
.recentprod,.venddocs{
	border-bottom: none 0;
}
/*/viewproduct*/
/*viewvendor*/
.vendimgcol{
	float:left;
	width:210px;
}
.venddesccol{
	margin-top:10px;
	float:left;
	width:600px;
}
.vendimgcont{
	width:200px;
	height:190px;
}
.vendprodtitle{
	text-align:center;
	margin-top:10px;
	display:block;
}
.vendprodcont{
	display:block;
	width:100px;
	height:100px;
}
/*/viewvendor*/
