body{		
	font-family:Arial,Helvetica,sans-serif;
	color:#004B91;
	background-color:#0f529e;
	font-size:12px;
}
.red{
	color:#da0e0f;
}
.grey{
	color:#606060;
}
.error{
	border:thin solid red !important;
}
.clear{clear:both;}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
	color:#e47911;
}
#page-wrap{
	width:100%;
	float:left;
	margin-bottom:50px;
}
#govonomywhitebox{
	margin:40px auto;
	width:780px;
	padding:25px;
	border: thin solid #c6c6c6;
	border-radius:6px 6px 6px 6px;
	background: #f7f7f7; /* Old browsers */
background: -moz-linear-gradient(top,  #f7f7f7 0%, #fff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#fff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f7f7f7 0%,#fff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f7f7f7 0%,#fff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f7f7f7 0%,#fff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f7f7f7 0%,#fff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#fff',GradientType=0 ); /* IE6-9 */
}
#govonomygreybox{
	margin:40px auto;
	width:780px;
	padding:25px;
	border: thin solid #c6c6c6;
	border-radius:6px 6px 6px 6px;
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#dbdbdb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#dbdbdb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}
.title{
	font-size:22px;
	line-height:30px;
	color: #606060;
	font-weight:bold;
}
.subtitle{
	font-size:18px;
	line-height:30px;
}
#federal{
	color:#0d529d;
}
.col{
	float:left;
	width:200px;
}
.colspan{
	float:left;
	width:100%;
}
.formitem{
	float:left;
	width:200px;

}
.formitem label{
	display:block;
	color:#606060;
	font-size:12px;
	font-weight:bold;
	margin:5px 0 8px ;
}
.formitem input[type="text"],.formitem input[type="password"],.formitem textarea{
	width:190px;
	border-top:thin solid #9a9a9a;
	border-left:thin solid #9a9a9a;
	border-right:thin solid #9a9a9a;
	border-bottom:thin solid #e3e3e3;
	border-radius:4px 4px 4px 4px;
}
.formitem input{
	height:20px;
}
.formitem textarea{
	margin-bottom:24px;
	height:180px;	
}
.formradio{float:left;margin-left:10px;}
.formradio label,.formradio input{float:left;}
#inner-wrap{
	margin:50px auto 0;
}
#vendorinfoform{
	width:414px;
	float:left;
}
.formlegend{
	width:100%;
	margin:20px 0 10px;
	float:left
}
.formlegend label{
	font-weight:bold;
	color:#606060;
}
.full{
	width:100%;
	margin:10px 0;
}
#errmsg{
	text-align:center;
}
.formbutton{
	width:100%;
	margin:40px 0;
	float:left;
}
.formbutton .btn{
	border:none 0;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	background:url('../images/accountbtn.png') no-repeat;
	width:170px;
	height:26px;
}
.formbutton .btn:hover{
	background-position:0 -36px;
}

.formbutton .btn.center{
	margin:0 auto;
	display:block;
}
#leftmenu{
	float:left;
	margin-left:80px;
	width:200px;
}
.lmtitle{
	font-size:11px;
	color:#606060;
	font-weight:bold;
	display:block;
	padding:0px 0px 9px;
}
#leftmenu .menuitem{
	margin-bottom:26px;
}
#leftmenu ul ul li a{
	display:block;
	padding:9px 18px;
	font-size:11px;
}
