body{		
	font-family:Arial,Helvetica,sans-serif;
	color:#004B91;
	background-color:#0f529e;
	font-size:12px;
}
input{
	font-family:Arial,Helvetica,sans-serif;	
	font-size:12px;
}
.red{
	color:#da0e0f;
}
.grey{
	color:#606060;
}
.error{
	border:thin solid red !important;
}
.clear{clear:both;}
a{
	color:#004B91;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
	color:#d80000;
}
#page-wrap{
	width:100%;
	float:left;
	margin-bottom:50px;
}
#govonomywhitebox{
	margin:40px auto;
	width:780px;
	padding:25px;
	border: thin solid #c6c6c6;
	border-radius:6px 6px 6px 6px;
	background: #f7f7f7; /* Old browsers */
background: -moz-linear-gradient(top,  #f7f7f7 0%, #fff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#fff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f7f7f7 0%,#fff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f7f7f7 0%,#fff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f7f7f7 0%,#fff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f7f7f7 0%,#fff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#fff',GradientType=0 ); /* IE6-9 */
}
#govonomygreybox{
	margin:40px auto;
	width:780px;
	padding:25px;
	border: thin solid #c6c6c6;
	border-radius:6px 6px 6px 6px;
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#dbdbdb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#dbdbdb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}
.title{
	font-size:22px;
	line-height:30px;
	color: #606060;
	font-weight:bold;
}
.subtitle{
	font-size:18px;
	line-height:30px;
}
#federal{
	color:#0d529d;
}
.col{
	float:left;
	width:48%;
}
.coldivider{
	background:url('../images/divider.png') repeat-y;
	width:2px;
	float:left;
}
.colspan{
	float:left;
	width:100%;
}
.formitem{
	float:left;
	width:50%;
	margin-top:10px;
}
.formitem label{
	display:block;
	color:#606060;
	font-size:12px;
	font-weight:bold;
	margin:5px 0 8px ;
}
.formitem input[type="text"],.formitem input[type="password"],.formitem textarea{
	width:190px;
	border-top:thin solid #9a9a9a;
	border-left:thin solid #9a9a9a;
	border-right:thin solid #9a9a9a;
	border-bottom:thin solid #e3e3e3;
	border-radius:4px 4px 4px 4px;
}
.formitem input[type="text"],.formitem input[type="password"]{
	height:20px;
}
.formitem textarea{
	margin-bottom:24px;
	height:180px;	
}
.formitem legend{
	border:thin solid #C6C6C6;
	float:left;
	width:100%;
}
.fromgrpitem{
	margin:10px 10px 0;	
	float:left;
}
.formupload{
	float:left;
	margin:0 0 10px;
}
.formradio{float:left;margin-left:10px;}
.formradio label,.formradio input{float:left;}
#inner-wrap{
	margin:50px auto 0;
}

.formlegend{
	width:100%;
	margin:20px 0 10px;
	float:left
}
.formlegend label{
	font-weight:bold;
	color:#606060;
}
.full{
	width:100%;
	margin:10px 0;
}
#errmsg{
	text-align:center;
}
.formbutton{
	width:100%;
	margin:40px 0;
	float:left;
}
.btn{
	border:none 0;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	background:url('../images/accountbtn.png') no-repeat;
	/*width:170px;
	height:26px;*/
	padding:6px 30px;
	background-size:100% 62px;
}
.btn:hover{
	background-position:0 -36px;
	
}

.formbutton .btn.center{
	margin:0 auto;
	display:block;
}
#leftmenu{
	float:left;
	/*margin-left:80px;*/
	width:200px;
}
.lmtitle{
	font-size:11px;
	color:#606060;
	font-weight:bold;
	display:block;
	padding:0px 0px 9px;
}
#leftmenu .menuitem{
	margin-bottom:26px;
}
#leftmenu .menuitem li.active a{
	font-weight:bold;
}
#leftmenu ul ul li a{
	display:block;
	padding:9px 18px;
	font-size:11px;
}
#adminloginform{
	width:220px;
	margin: 0 auto 120px;;
}
/*vendorlist*/
#vendorbox{
	float:left;
	width:560px;
}
#vendorlist {
	margin-top:10px;
}
table.display thead tr{		
	background-color:#0f539e;
}
table.display tr{	
	height:30px;
}
table.display td{	
	padding:10px;
	color:#666;
}
table.display thead th{	
	padding:10px;
	font-weight:bold;
	color:#fff;
}
table.display tr.odd{
	background-color:#fff;
}
table.display tr.even{
	background-color:#e8e8e8;
}
.ui-icon-triangle-1-n,.ui-icon-triangle-1-s{
	background:url('images/sortarrow.png') no-repeat;
	width:12px;
	height:10px;
}
.ui-icon-triangle-1-s{
	background-position:0 -20px;
}
.dataTables_filter{
	margin-bottom: 10px;
    margin-right: 10px;
}
/*/vendorlist*/
/*editvendor*/
#vendorinfoform{
	width:500px;
	float:left;
}
.vendimgcont{
	width:200px;
	height:190px;
	margin-bottom:10px;
}
#imgcont{
	width:300px;
	height:300px;	
	margin-bottom:10px;
}
#btnImgUpload,.btnUpload,#btnImgRemove{
	float:left;
	padding:6px 10px;
}
.lnkDelete{
	float:left;
	padding:8px 10px;
}
#vendorinfoform input[name="ImagePath"]{
	float:left;
	color:#606060;
	width:300px;
	margin:4px 10px;
	border:none;
	background:transparent;
	font-size:12px;
}

.vidtitle,.doctitle{
	width:420px !important;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	font-size:12px;
}
.vidfname,.docfname{
	float:left;
	width:310px !important;
	border:none 0 !important;
	background:transparent;
	margin-left:0px;
	font-size:12px;
	height:14px !important;
	padding:8px 10px;
}
.vidlabel,.prodlabel{
	float:left;
	width:40px;
}
.formitem hr{
	width:100%;
	border-top:thin solid #ddd;
	float:left;
	margin:-4px 0 14px;
}
/*/editvendor*/

